{% from "bootstrap5/form.html" import render_form %}
{% block content %}

<!-- Page Header -->
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <h1>Register</h1>
          <span>Welcome to the stock Market Info!</span>
        </div>
      </div>
    </div>
</div>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <!--Rendering the registration form here-->
      {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
          <p><a href="{{ url_for('login') }}">Login</a></p>
  </div>
</main>

{% endblock %}
